<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.co.purplemonkeys.TimeMonkey"
      android:versionCode="1"
      android:installLocation="preferExternal" 
      android:versionName="v0.0.1">
    <application android:icon="@drawable/icon" 
                    android:label="@string/app_name" 
                    android:debuggable="true" 
                    android:name="TimeMonkeyApp">
        <activity android:name=".TimeMonkey"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Preferences" android:label="@string/app_name"></activity>
        
        <activity android:name="org.acra.CrashReportDialog"
                    android:theme="@android:style/Theme.Dialog"
                    android:launchMode="singleInstance"
                    android:excludeFromRecents="true"
                    android:finishOnTaskLaunch="true" />
                    
        <provider android:name="uk.co.purplemonkeys.TimeMonkey.providers.ProjectProvider"
                android:authorities="uk.co.purplemonkeys.TimeMonkey.providers.ProjectProvider" />
    </application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 